.sign-in-link li {
  list-style: none;
  display: flex; }
  .sign-in-link li a {
    text-decoration: none; }

.sign-in-link .profile {
  background-color: red;
  padding: 1rem;
  border-radius: 50%; }
